@import "nib"
@font-face
   font-family Open-sans-r
   src url(../fonts/OpenSans-Regular.ttf)
@font-face
   font-family Open-sans-b
   src url(../fonts/OpenSans-Bold.ttf)
@font-face
   font-family Open-sans-l
   src url(../fonts/OpenSans-Light.ttf)

body
	background #f2f2f2
	margin 0
	padding 0

header
	margin 0px auto 0px auto
	position fixed
	text-align center
	width 100%

a:focus
	outline none

.distribuidores
	background #ffffff
	border-bottom 1px solid #d4d4d4
	opacity 0.9
	width 100%

.distribuidores .distri-bandera
	display inline-block
	padding 1em 0.5em 1em 0.5em

.distribuidores .distri-bandera img
	padding-left 40px
	padding-right 40px
	width 45px

.distribuidores .distri-bandera a
	color #0f3c54
	font-weight bold
	font-family Open-sans-b
	font-size 16px
	position absolute
	margin -35px 0px 0px 29px
	text-decoration none

.distribuidores2
	display none
.top
	background #fff
	border-bottom 3px solid #92cdd1
	opacity 0.9
	width 100%

.imagen-fondo
	background-image url(../images/bag1.jpg)
	background-position center center
	background-repeat no-repeat
	background-size cover
	height 614px
	width 100%

.seccion-cont
	background #fff
	margin 0px auto 0px auto
	padding 4.8em 0em 4.8em 0em;
	text-align center
	width 100%

.seccion-cont-2
	background #dceff0
	color #3a3a3a
	margin 0px auto 0px auto
	text-align center
	width 100%

.seccion-cont-3
	background #f9f9f9
	margin 0px auto 0px auto
	text-align center

.seccion-1, .seccion-2
	display inline-block
	vertical-align top
	padding 0.8em 0em 0.8em 0em;
	width 45%

.seccion-1 .programas
	display inline-block
	vertical-align top
	width 49%

.seccion-1 .programas img
	width 150px

.seccion-1 .programas h2
	font-family Open-sans-l
	font-size 18px
	color #92cdd1

.seccion-2 .programas
	display inline-block
	vertical-align top
	width 49%

.seccion-2 .programas img
	width 150px

.seccion-2 .programas h2
	font-family Open-sans-l
	font-size 18px
	color #92cdd1

.seccion-principal-blog, .seccion-ultimas-blog
	display inline-block
	vertical-align top

.seccion-texto
	width 22%

.seccion-texto strong
	font-family Open-sans-b

.seccion-texto a
	color #3a3a3a

.seccion-texto h2
	font-family Open-sans-b
	font-size 18px

.seccion-img img
	width 128px

.seccion-img, .seccion-texto
	display inline-block
	vertical-align top
	padding 2.5em 0.8em 2.5em 0.8em

.top-izq, .top-der
	display inline-block
	vertical-align top

.top-der nav
	margin 33px 0px 0px 0px

.top-izq img
	padding 0.8em
	width 130px;




@media screen and (max-width: 960px)
	.distribuidores
		display none

	.imagen-fondo
		height 376px

	.seccion-cont
		padding 2.8em 0em 2.8em 0em

	.seccion-1, .seccion-2
		padding 0.8em 0em 0em 0em
		width 98%

	.seccion-1 .programas
		width 95%

	.seccion-2 .programas
		width 95%

	.seccion-img
		padding 1.5em 0px 0px 0px

	.seccion-img, .seccion-texto
		width 93%

	.seccion-texto
		padding 0.5em 0.6em 0.5em 0.6em

	.top-izp
		width 100%

	.top-der
		width 100%

	.top-der nav
		margin 0px 0px 0px 0px
